@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.custom-title-font{
    font-family: 'Playfair Display', serif !important;
    font-weight: 600;
    font-size: 45px;
}

.custom-p-font{
    font-family: 'Montserrat', serif !important;
}

.custom-subheading-font{
    font-family: 'Playfair Display', serif !important;
    font-weight: 500;
}

.custom-subtitle-font{
    font-family: 'Playfair Display', serif !important;
    font-weight: 400;
}
.underline{
    border-top: 2px solid #81BCDA;
    color: #FFF;
}

.c-mt{
    margin-top: 15% !important;
}

.my-work{
    margin-top:800px;
}

.contact{
    margin-top :80px !important;
}

p#navi-links{
    color: #344A5F;
}

a.navi-text{
    font-size: 1.5rem !important;
}